@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: radial-gradient(100.09% 99.55% at 63.47% 2.34%, #536367 5.17%, #383E41 86.12%);
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: radial-gradient(100.09% 99.55% at 63.47% 2.34%, #536367 5.17%, #383E41 86.12%);
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
